
@{
    ViewBag.Title = "Index";
}

<div class="container col-md-2"></div>

<div class="container col-md-8">
    <h2>Oops, Something went wrong there...</h2>
</div>

<div class="container col-md-2"></div>

